<form novalidate>
  <div class="col-md-12">
    <p class="alert alert-info">
      Thanks for signing up! Now, please fill in the following fields so that
      we can finish setting up your account.
    </p>
  </div>

  <div class="form-group col-md-6">
    <label for="firstName">First Name</label>
    <input ng-model="user.firstname" type="text" class="form-control"placeholder="First Name" required>
  </div>
  <div class="form-group col-md-6">
    <label for="lastName">Last Name</label>
    <input ng-model="user.lastname" type="text" class="form-control" placeholder="Last Name" required>
  </div>

  <div class="form-group col-md-6">
    <label for="firstName">First Name</label>
    <input ng-model="user.firstname" type="text" class="form-control"placeholder="First Name" required>
  </div>
  <div class="form-group col-md-6">
    <label for="lastName">Last Name</label>
    <input ng-model="user.lastname" type="text" class="form-control" placeholder="Last Name" required>
  </div>

  <div class="form-group col-md-6">
    <button type="submit" ng-click="profileCreateCtrl.save(user)" class="btn btn-default">Submit</button>
  </div>
</form>
