<form novalidate>
  <div class="col-md-12">
    <p class="alert alert-info">
      Thanks for signing up! Now, please fill in the following fields so that
      we can finish setting up your account.
    </p>
  </div>

  <div class="form-group col-md-6">
    <label for="firstName">First Name</label>
    <input ng-model="user.firstname" type="text" class="form-control"placeholder="First Name" required>
  </div>
  <div class="form-group col-md-6">
    <label for="lastName">Last Name</label>
    <input ng-model="user.lastname" type="text" class="form-control" placeholder="Last Name" required>
  </div>

  <div class="form-group col-md-12">
    <h4>
      Are you a teacher or a scoutmaster?
    </h4>
    <div class="radio">
      <label>
        <input ng-model="user.role" type="radio" name="roleRadio" id="roleRadio1" value="teacher" required>
        Teacher (I will be teaching at MBU)
      </label>
    </div>
    <div class="radio">
      <label>
        <input ng-model="user.role" type="radio" name="roleRadio" id="roleRadio2" value="scoutmaster" required>
        Scoutmaster/Coordinator (I am registering up my troop for MBU)
      </label>
    </div>
  </div>

  <div class="form-group col-md-6">
    <button type="submit" ng-click="profileCreateCtrl.save(user)" class="btn btn-default">Submit</button>
  </div>
</form>
